body {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 15px;
}

.title {
	text-align: center;
	background: #60c876;
	border: solid 1px #ccc;
	min-height: 46px;
}

.title h3 {
	margin: 9px auto;
	font-size: 20px;
}

.rightVersion {
	float: right;
	margin-right: 8px;
	margin-top: 16px;
	opacity: 0.7;
}

.classList {
	text-align: right;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	opacity: 0.8;
	font-size: 15px;
}

.classList-master {
	font-weight: bold;
}

.classList-current {
	color: red !important;
}

.classList-master-current {
	color: red !important;
	font-weight: bold;
}

.footer {
	padding-right: 5px;
	text-align: right;
	opacity: 0.6;
}

/*table.js-sort-table th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25C6"; /* \25B4 \25BE \25C6 
} */

#dictTable {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
}

#dictTable td,
#dictTable th {
	text-align: left;
	padding-left: 10px;
	border: 1px solid #dcdbdb;
	padding: 3px 7px 3px 7px;
}

#dictTable th {
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	white-space: nowrap;
	background-color: #E6E6E6;
	cursor: pointer;
}

#dictTable tr:nth-child(2n) {
	/*color: #000000;*/
	background-color: #FBFBFB;/*RGB(94, 202, 117, 0.1);*/
}

.pk-row {
	color: red !important;
	font-weight: bold;
}

.home {
	float: left;
	margin-left: 8px;
	margin-top: 12px;
}

.separator {
	color: #60c876;
	opacity: 0.2;
}

a:link {
	color: #09c;
	text-decoration: none;
}

a:visited {
	color: #09c;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
