<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{0} {1} - {3}</title>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../scripts/style.css" />
    <script src="../scripts/sort-table.min.js"></script>
</head>

<body>
    <div class="title">
        <a href="../intro.html" class="home" title="返回">|&lt;&lt;</a>
        <span>
	        <span style="font-size: xx-large;font-weight: bold;">{0}</span>
	        <span style="font-size: large;"> ({1}{2})</span>
	    </span>
        <span class="rightVersion">{3}</span>
    </div>
    <div class="classList">
        {4}
    </div>
    <table id="dictTable" class="js-sort-table">
	    <thead>
	        <tr>
	            <th width="1%" id="number" class="js-sort-number">序号</th>
	            <th width="10%" id="propCode">属性编码</th>
	            <th width="10%" id="PropName">属性名称</th>
	            <th width="10%" id="fieldCode">字段编码</th>
	            <th width="10%" id="fieldType">字段类型</th>
	            <th width="5%" id="notNull">是否必输</th>
	            <th width="20%" id="refType">引用模型</th>
	            <th width="5%" id="defaultValue">默认值</th>
	            <th id="enumValue">取值范围/枚举</th>
	        </tr>
	    </thead>
	    <tbody>
{5}
		</tbody>
    </table>
    <br>
    {6}
</body>

</html>
