<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <title>{0} 数据字典</title>
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="stylesheet" type="text/css" href="./scripts/style.css" />
    <link rel="stylesheet" type="text/css" href="./scripts/zTreeStyle.css" />

    <script type="text/javascript" src="./scripts/data-dict-tree.js"></script>
    <script type="text/javascript" src="./scripts/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/jquery.ztree.core.min.js"></script>
    <script type="text/javascript" src="./scripts/data-dict.js"></script>
    <script type="text/javascript" src="./scripts/sort-table.min.js"></script>

</head>

<body style="overflow-x:hidden;overflow-y: hidden;">
    <div id="container" style="height: calc(100% - 1px);">
        <div id="left" class="left">
            <div style="width:100%; align-self: center">
                <input id="searchKey" style="width: 98%" placeholder="请输入搜索内容，快捷键英文反斜杆(\)" />
            </div>

            <button style="position:fixed; margin-top:38px; margin-left:16%" onclick="setTreeData(dataDictIndexData);">&gt;&lt;</button>
            <ul id="dataDictTree" class="ztree"></ul>
        </div>

        <div id="right" class="right">
            <div id="title" class="title">
                <a href="/" class="home" style="color: lime; opacity: 0.9;">首页</a>
                <span>
                    <span id="classDisplayName" style="font-size: xx-large; font-weight: bold">YonBIP 高级版 数据字典</span>
                    <span id="classDefaultTableName" style="font-size: large"></span>
                </span>
                <span id="rightVersion" class="rightVersion">{0}</span>
            </div>
            <div id="intro" style="overflow-x:auto; overflow-y:auto;">

                <div style="margin-left: 290px; margin-top: 30px;">
                    <br>
                    <b style="color: red;">
                    依据公司安全规范，数据字典属于公司核心资产，不提供离线版。<br>
                    高级版数据字典版权归属于 用友网络科技股份有限公司，盗取必究。<br>
                    </b><br><br>

                    <b>说明：</b><br>

                    1、数据字典数据来源于已发布的元数据，元数据上的字段名、数据类型、长度、引用实体、枚举等等都是组成数据字典的必要数据；<br>
                    2、数据字典上没有体现出来的信息，首先应该检查下元数据上是否有对应的属性设置；<br>
                    3、数据字典页面左上角有时会出现多个实体链接，表明这是一个聚合实体，第一个实体是主实体，其它都是子实体，这里体现不出来孙实体；<br>
                    4、数据字典左侧树上模块下显示的是主实体，展开后显示的是子实体。<br>

                </div>

                <table style="margin-left: 290px; margin-top: 30px;">
                   <tbody>
                        <tr>
                            <td><b>更新历史</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>YonBIP V3.0 (R5_2312_1) 高级版</b></td>
                            <td>2023-12-31</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + 增加数据字典固定表头<br>
                                    + 左树按元数据实体关系生成主子结构<br>
                                    + 参照类型的字段通过小括号里的英文名可以在新窗口打开实体<br>
                                    * 数据字典“标签”列改名“标签/扩展表名”，合并显示标签和扩展表信息<br>
                                    - 取消表结构的数据字典
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>YonBIP V3.0 (R1_2207_1_sp20230530) 高级版</b></td>
                            <td>2022-05-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    - 删除html静态页面版数据字典 <br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>YonBIP V3.0 (R1_2207_1) 高级版</b></td>
                            <td>2022-07-31</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + 增加排除表：t_emplate,t_laterow, t_laterow, uidbcache_temp_, uidbcache_temp_, wa_temp_, zdp_
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC Cloud 2021.11</b></td>
                            <td>2021-11-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                   + 增加排除表：tmpbd_, tmpin, tmpina, tmpinb, tmpinpk_, tmpins, tmpinsrc_, tmpintop_, tmp_, tmp_arap_, <br>
                                       tmpub_calog_temp, tmp_gl_, tmp_po_, tmp_scmf, tmp_so_, tm_mqsend_success_, transf2pcm, t_ationid
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC Cloud 2021.05</b></td>
                            <td>2021-05-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + json格式，局部刷新<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC Cloud 2020.05</b></td>
                            <td>2020-05-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + 增加排除表：tb_fd_sht, tb_fd_sht, tb_tmp_, tb_tmp_tcheck, tb_tmp_tcheck_,tb_tt_, tb_tt_gh_budgetmodle, <br>
                                        temp000, temppkts, temptable_, temp_, temp_bd_, temp_fa_, temp_ia_, temp_ic_, temp_pam_,temp_scacosts_, <br>
                                            temp_scas, temq_, temq_
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC Cloud 1909</b></td>
                            <td>2019-09-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + 生成数据字典时排除了一些临时表，以下开头的表已排除：aqua_explain_, gltmp_verdtlbal, gl_tmp_table, <br>
                                        hr_temptable, ic_temp_, iufo_measpub_,iufo_measure_data_, iufo_tmp_pub_, ntb_tmp_formual_, obsclass, <br>
                                        pitemid, pkjkbx, sm_securitylog_, sm_securitylog_, ssccm_adjustlog_b_, ssccm_adjust_log_, szxmid, tb_cell_wbk, <br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC Cloud 1903</b></td>
                            <td>2019-03-31</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + 反斜杠(\)快速定位到搜索栏<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC Cloud 1811</b></td>
                            <td>2018-11-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + html静态网页版数据字典<br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=2><hr style="color: azure;"/></td>
                        </tr>
                        <tr>
                            <td><b>NC 65</b></td>
                            <td>2015-12-30</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <div style="margin-left: 20px;">
                                    + 初始版本<br>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="dataDictArea" class="dataDictArea" style="display: none;">
                <div id="classList" class="classList"></div>
                <div id="dataDictContainer" style="width: 100%; height: calc(100% - 2em); overflow: auto;">
	                <table id="dataDictTable" class="js-sort-table">
                        <thead style="position: sticky; top: 0;">
	                        <tr>
	                            <th width="1%" id="number" class="js-sort-number">序号</th>
	                            <th width="10%" id="propCode">属性编码</th>
	                            <th width="10%" id="PropName">属性名称</th>
	                            <th width="10%" id="fieldCode">字段编码</th>
	                            <th width="10%" id="fieldType">字段类型</th>
	                            <th width="1%" id="notNull">是否必输</th>
	                            <th width="20%" id="refType">引用模型</th>
	                            <th width="15%" id="defaultValue">默认值</th>
	                            <th width="15%" id="enumValue">取值范围/枚举</th>
	                            <th id="help">标签/扩展表名</th>
	                        </tr>
	                    </thead>
	                    <tbody id="dataDictTableBody">
	                    </tbody>
	                </table>
            </div>
        </div>
        </div>

        <div id="footer" class="footer">
            <a href="https://www.yonyou.com" target="_blank" rel="noopener noreferrer">&copy;用友网络科技股份有限公司</a>
            <span>高级版产品部 @wpz {1}</span>
        </div>
    </div>
</body>

</html>
