<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>NC Cloud 数据字典 ({0})</title>
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="stylesheet" type="text/css" href="./scripts/style.css" />
</head>

<body>
    <div class="title">
        <a href="/" class="home">首页</a>
        <h3>NC Cloud 数据字典</h3>
    </div>
    <br>
    <table id="propTable">
        <tr>
            <th>实体</th>
            <th>实体</th>
            <th>实体</th>
            <th>实体</th>
            <th>实体</th>
        </tr>
        {1}
    </table>
    <br>
    {2}
</body>

</html>