<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{0} ({1})</title>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../scripts/style.css" />
</head>

<body>
    <div class="title">
        <a href="../intro.html" style="float: left; margin-left: 12px; margin-top: 12px;">返回</a>
        <h3>{0}</h3>
        <span style="float: right; margin-right: 8px; margin-top: -30px; opacity: 0.5;">{1}</span>
    </div>
    <div class="footer">
        <span>
            {2}
        </span>
    </div>
    <table id="propTable">
        <tr>
            <th width="1%">序号</th>
            <th width="10%">属性编码</th>
            <th width="10%">属性名称</th>
            <th width="10%">字段编码</th>
            <th width="10%">字段类型</th>
            <th width="5%">是否必输</th>
            <th width="20%">引用模型</th>
            <th width="5%">默认值</th>
            <th>取值范围/枚举</th>
        </tr>
        {3}
    </table>
    <br>
    <div class="footer">
        <a href="http://www.yonyou.com">&copy;用友网络科技股份有限公司</a>
        <span>NC Cloud 产品本部 <a href='mailto:wpz@yonyou.com'>@wpz</a> {4}</span>
    </div>
</body>

</html>